<footer>
        <div class="container d-flex justify-content-between">
            <ul>
                <h5>About IELTS</h5>
                <li><a href="#1">Home</a></li>
                <li><a href="#1">Home</a></li>
                <li><a href="#1">Home</a></li>
                <li><a href="#1">Home</a></li>
            </ul>
            <ul>
                <h5>For Test Takers</h5>
                <li><a href="#1">Home</a></li>
                <li><a href="#1">Home</a></li>
                <li><a href="#1">Home</a></li>
                <li><a href="#1">Home</a></li>
            </ul>
            <ul>
                <h5>For Organisations</h5>
                <li><a href="#1">Home</a></li>
                <li><a href="#1">Home</a></li>
                <li><a href="#1">Home</a></li>
                <li><a href="#1">Home</a></li>
            </ul>
            <ul>
                <h5>For Researchers </h5>
                <li><a href="#1">Home</a></li>
                <li><a href="#1">Home</a></li>
                <li><a href="#1">Home</a></li>
                <li><a href="#1">Home</a></li>
            </ul>
        </div>
    </footer>
    <script src="../js/script.scroll.js"></script>