<footer>
    <div data-aos="zoom-in-up" style="margin: auto;">
        <div class="container d-flex justify-content-between">
            <div class="half-life-1 d-flex justify-content-between">
                <ul>
                    <h5>About academy</h5>
                    <li><a href="#!">Home</a></li>
                    <li><a href="#!">Classrooms</a></li>
                    <li><a href="#!">Coworking</a></li>
                    <li><a href="#!">Teachers</a></li>
                    <li><a href="#!">Students</a></li>
                </ul>
                <ul>
                    <h5>For Test Takers</h5>
                    <li><a href="#!">Speaking</a></li>
                    <li><a href="#!">Listening</a></li>
                    <li><a href="#!">Reading</a></li>
                    <li><a href="#!">Writing</a></li>
                </ul>
            </div>
            <div class="half-life-2 d-flex justify-content-between">
                <ul>
                    <h5>For Organisations</h5>
                    <li><a href="#!">Fillials</a></li>
                    <li><a href="#!">Partners</a></li>
                    <li><a href="#!">Development</a></li>
                </ul>
                <ul class="contact">
                    <h5>Contact us </h5>
                    <li><a href="#!">Instagram</a></li>
                    <li><a href="#!">Telegram</a></li>
                    <li><a href="#!">YouTube</a></li>
                    <li><a href="#!">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="../js/script.scroll.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>