<nav>
    <div class="container">
        <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="300">
            <ul>
                <li><a href="/" class="logo">iKNOW</a></li>
                <li class="active bar"><a href="/ielts">About IELTS</a></li>
                <li class="active bar"><a href="/teacher">Teachers</a></li>
                <li class="active bar"><a href="/lesson">Lessons</a></li>
                <li class="active bar"><a href="/coworking">Coworking</a></li>
                <li class="active bar"><a href="/fillials">Fillials</a></li>
                <li class="bar"><a href="#!">+998-93-212-04-04</a></li>
                <li><button class="menu"><img src="/img/menu-bar.png" alt=""></button></li>
            </ul>
        </div>
    </div>
</nav>