<nav>
    <div class="container">
        <ul>
            <li><a href="/" class="logo">iKNOW</a></li>
            <li class="active"><a href="/ielts">About IELTS</a></li>
            <li class="active"><a href="/teacher">Teachers</a></li>
            <li class="active"><a href="/lesson">Lessons</a></li>
            <li class="active"><a href="/coworking">Coworking</a></li>
            <li class="active"><a href="/fillials">Fillials</a></li>
            <li><a href="#!">+998-93-212-04-04</a></li>
        </ul>
    </div>
</nav>