<link rel="stylesheet" href="/module/homePage.css">
<header>
    <div class="container">
        <div class="hero">
            <div class="titleInfo">
                <div data-aos="fade-right" data-aos-easing="ease-in">
                    <h1>GO TO <span>IELTS</span> 8.0+</h1>
                </div>
                <div data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit magni, praesentium expedita
                        itaque
                        quisquam, libero voluptate quo illo, molestias nulla ut officiis excepturi dolor illum.</p>
                </div>
                <div data-aos="fade-right" data-aos-easing="ease-in-sine">
                    <button>More <img class="arrow" src="../img/right-arrow.png" alt=""></button>
                </div>
            </div>
            <div data-aos="fade-right">
                <div class="titleImg">
                    <img src="../img/iknow.jpg" alt="">
                    <div class="radius"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ===== IELTS STARTED ===== -->
<section class="for-ielts" id="for-eilts">
    <div class="container">
        <a class="down" href="#for-eilts"><img src="../img/right-arrow.png" alt=""></a>
        <div data-aos="zoom-in">
            <h1 class="ieltsTitle">About IELTS</h1>
        </div>

        <div class="ieltsInfo">
            <div class="fst-half" scrollBar=()>
                <div class="line"></div>
                <div class="lines">
                    <div class="min-line">
                        <p class="pro">Proficiency</p>
                        <h1>8.5 , 9.0</h1>
                    </div>
                    <div class="min-line">
                        <p>Advenced</p>
                        <h1>7.0 , 8.0</h1>
                    </div>
                    <div class="min-line">
                        <p class="upper">upper.Intermediate</p>
                        <h1>6.0 , 6.5</h1>
                    </div>
                    <div class="min-line">
                        <p>Intermediate</p>
                        <h1>5.0</h1>
                    </div>
                    <div class="min-line">
                        <p class="prev">prev.Intermediate</p>
                        <h1>4.0</h1>
                    </div>
                    <div class="min-line">
                        <p>Elementry</p>
                        <h1>3.5</h1>
                    </div>
                    <div class="min-line">
                        <p>Beginner</p>
                        <h1>1.0 , 2.5</h1>
                    </div>
                </div>
            </div>
            <div class="snd-half">
                <div data-aos="fade-down">
                    <h2 class="aboutIeltsTitle">IELTS olish darajasi</h2><br><br>
                </div>
                <div data-aos="flip-down">

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt autem voluptates sunt
                        dignissimos obcaecati, aut, deserunt ea esse laboriosam perspiciatis voluptate, sequi corporis
                        fuga dolore odit modi nam odio accusamus in. Voluptates suscipit, blanditiis doloribus delectus
                        fuga ab voluptate facere. Nisi deleniti cupiditate vero quia quae nulla, excepturi sint debitis!
                </div>
                </p><br><br>
                <div data-aos="flip-down">

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam accusamus excepturi deserunt
                        adipisci sint vel laboriosam a magnam provident! Maxime unde sapiente animi dolore laboriosam
                        eos delectus rem facere? Hic recusandae saepe nihil voluptates, mollitia non voluptatibus
                        adipisci magnam delectus!</p><br><br>
                </div>
                <div data-aos="flip-down">

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem, odio consectetur quod vel
                        recusandae voluptates! Voluptatibus facilis illum reiciendis autem natus nisi porro molestias
                        odit veritatis omnis maxime perferendis eaque saepe reprehenderit ipsa praesentium cum,
                        consequatur, quos modi eligendi impedit provident aspernatur. Rerum, animi laborum?</p><br><br>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===== TEACHER STARTED ===== -->
<section class="partner">
    <div class="container">
        <div class="images">
            <div data-aos="zoom-in">
                <img width="300px" src="/img/British_Council.png" alt="">
            </div>
            <div data-aos="zoom-in">
                <img width="300px" src="/img/Harvard.png" alt="">
            </div>
            <div data-aos="zoom-in">
                <img width="300px" src="/img/cambridge.png" alt="">
            </div>
            <div data-aos="zoom-in">
                <img width="300px" src="/img/idp.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="for-teacher" id="teacher">
    <div class="container">
        <div data-aos="fade-down">
            <h1 class="teacherTitle">Our Teacher</h1>
        </div>
        <div class="teacherInfo">

            <div class="information">
                <div data-aos="fade-right">
                    <h2>Soliyev Sohibjon</h2>
                </div>
                <div data-aos="fade-right">
                    <span>Teacher IELTS 8.5 + </span>
                </div>
                <div data-aos="fade-right">
                    <p>Lorem ipsum dolor sit amei in ipsum magnam impedit earum ut quibusdam sint non fuga, aliquid
                        doloribus odit fugit porro beatae cidunt. Ut recusandae fugit dolorem voluptate deleniti non
                        exercitationem incidunt aliquam voluptatibus.</p><br>
                </div>

                <div data-aos="fade-right">
                    <p>Lorem ipsum dolor sit amet . Veniam repellat nisi in ipsum magnam impedit earum ut quibusdam sint
                        non fuga, aliquid doloribus ous quae assumenda sapiente eveniet consequatur eius necessitatibus!
                        Ipsa rerum suscipit exercitationem modi eveniet temporibus maiores incidunt. Ut recusandae fugit
                        dolorem voluptate deleniti non exercitationem incidunt aliquam voluptatibus.</p>
                </div>

                <div data-aos="fade-right">
                    <div class="links">
                        <a href="#!">Instagram</a>
                        <a href="#!">Telegram</a>
                        <a href="#!">Linkedin</a>
                        <a href="#!">Facebook</a>
                    </div>
                </div>

                <div data-aos="fade-right">
                    <a href="" class="more">more <img width="24px" src="/img/right-arrow.png" alt=""></a>
                </div>
            </div>
            <div data-aos="zoom-in">
                <div class="cart">
                    <div class="grey">
                        <div class="shablon"
                            style="background-image: url(../img/iknow.jpg); background-size: 100% 100%;">
                            <div class="logotype"><img class="img" src="../img/IELTS-logo.png" alt="">
                                <h3>Sokhibjon Soliyev<br><span>Front-End Developer</span></h3>
                            </div>
                            <div class="cart-info">
                                <h4>SokhibjonDev</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- ===== LESSONS STARTED ===== -->
<section class="for-lesson">
    <div data-aos="fade-down">
        <h1>knowledge zone</h1>
    </div>
    <div class="lessonTitle">
    </div>
    <div class="forLessonInfo">
        <div class="lessonInfo" onclick=()>
            <img src="../img/lessons.jpg" alt="">
        </div>

        <div class="lessonInfo" onclick=()>
            <img src="../img/coworking.jpg" alt="">
        </div>
        <div class="positionH2">
            <a href="#!">Classroom</a>
            <a href="#!">Co-working</a>
        </div>
    </div>
</section>
<section class="fillials">
</section>

<script src="/js/catalog.hover.js"></script>