@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1400px;
    margin: auto;
}

::selection {
    color: #fff;
    background: rgb(188, 0, 0);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(172, 1, 1);
}

::-webkit-scrollbar-track {
    background: #fff;
}

:focus{
    outline: none;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}